services:
  backend:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: mariadb:10.6
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: pharmguard
    volumes:
      - db_data:/var/lib/mysql
volumes:
  db_data:

